# CHALLENGE: 
URLS from two raw github-hosted text files are provided below. 
Together they comprise a data-set. 
    
url_1 is a string dictionary containing column names

url_2 is the actual csv data


MISSION: 

1) Read in the two URLs into the ipython notebook

2) Turn them into a single pandas dataframe object

In [64]:
url_1 = 'https://raw.githubusercontent.com/YashaFigo/PRACTICE_ASSETS/master/PIMA%20INDIANS%20DATASET/column_names.txt'

In [65]:
url_2 = 'https://raw.githubusercontent.com/YashaFigo/PRACTICE_ASSETS/master/PIMA%20INDIANS%20DATASET/pima-indians-diabetes.data.csv'

---

---

#### >>>SCROLL DOWN FOR ANSWER<<<

---

---

---

---

#### URL1: Read into columns object

In [103]:
import requests
columns = requests.get(url_1).content
columns

"names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']"

In [104]:
#Cleaning up the columns object so it can be used as a columns label for the dataset
start = (columns.find('=')+1)
start

7

In [105]:
stop = len(columns)
stop

80

In [106]:
columns = eval(columns[start:stop])
columns

['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

---

#### URL2: READ DATASET INTO PANDAS DATAFRAME:

In [110]:
import pandas as pd
import io
import requests
s=requests.get(url_2).content
data=pd.read_csv(io.StringIO(s.decode('utf-8')),names=columns)
data[:5]

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

---

#### BONUS: Read in the full dataset column called url_3 (no two fragments)

In [118]:
url_3 = 'https://raw.githubusercontent.com/YashaFigo/PRACTICE_ASSETS/master/PIMA%2520INDIANS%2520DATASET/pima_indians_complete.csv'

In [131]:
raw_data = requests.get(url_3).content
data = pd.read_csv(io.StringIO(raw_data.decode('utf-8')),index_col=0)
data[:10]

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1